html,body{
  background-color: #E6F5EC;
}

.main-font{
  font-family: 'Boska', serif;
}

.normal-font{
  font-family: 'Satoshi', sans-serif;
}

#main-container{
  background: radial-gradient(circle at 50% 50%, #F3FBF6 20%, transparent 20%);
  background-size: 30px 30px;
  background-repeat: repeat;
}

.middle-panel{
  background-color: #C3E6CD;
  background-image: 
    linear-gradient(#A6D8B9 2px, transparent 2px),
    linear-gradient(90deg, #A6D8B9 2px, transparent 2px);
  background-size: 110px 110px;
  background-repeat: repeat;
  background-position: center;
}